*{
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    color: rgb(247, 231, 202);
}
.alert{
    height: 8rem;
    width: 50rem;
    background-color: white;
    border-radius: 5px;
    margin: 3rem;
    color: black;
    font-size: 2rem;
    padding: 5px;
}
.msg{
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
.alert-success{
    background-color: #A8E890;
}
.alert-error{
    background-color: #FA9494;
}
.alert-info{
    background-color: #5F9DF7;
}
.alert-warning{
    background-color: #FDFDBD;
}
.alert-heading{
    margin: 1rem;
    font-size: 2rem;
}
.button{
    height: 4rem;
    width: 15rem;
    border-radius: 10px;
    margin: 2rem;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}
.button-learn{
    background-color: #89CFFD;
}
.button-download{
    background-color: #E64848;
}
.button-read{
    background-color: #AFB4FF;
}
.button-follow{
    background-color: #FFB4B4;
}
.button-about{
    background-color: #7A86B6;
}
.button:hover{
    color: whitesmoke;
    border: 2px solid wheat;
}


.card{
    background-color: #b6babd;
    border: 5px solid #737373;
    border-radius: 10px;
    height: 15rem;
    width: 30rem;
    margin: 4rem;
    padding: 2rem;
    color: black;
    font-size: 1.2rem;
}
.card_one{
    display: flex;
}
.card_four ,.card_five{
    height: 30rem;
    width: 15rem;
    
}
.navbar{
    height: 3rem;
    list-style-type: none;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}